.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: -1;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}

input {
    border: 1px solid #999;
    border-radius: 22px;
    min-width: 250px;
    margin-right: 12px;
    width: 50%;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    z-index: 40;
}


button {
    border: 1px solid #999;
    border-radius: 22px;
    min-width: 100px;
    margin-right: 12px;
    background-color: #2d333b;
    font-size: 18px;
    padding: 10px;
    color: #fff;
}

.perfil {
    display: flex;
    margin: 20px;
}

.perfil-info {
    margin: 0 20px;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #e5e5e5;
}

.perfil h3 {
    color: #999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    display: block;
    color: #999;
    font-size: 12px;
}

.repositorio {
    font-size: 32px;
    color: #fff;
    margin: 12px 0;
    text-align: center;
}